@charset "UTF-8";
:root{
    --bs-primary-color: #002147;
    --bs-text-primary-color: #fff;
    --bs-text-secondary-color: #75aceb;
    --bs-secondary-color: #e9ecef; 
    --bs-font-cursive: cursive;
    --bs-font: 'Poppins', sans-serif, Times, bootstrap-icons, "Times New Roman", "Lucida Console" ;
    --bs-slide-animation: 1s alternate slidetext;
    --bs-display-inline: inline-block;
    --bs-card-bg-color: none;
    --bs-card-border-rgb: rgba(45, 212, 191, .1);
}

/* Base styles */
body {
  color: var(--bs-text-primary-color);
  background-color: var(--bs-primary-color);
  /* font-family: var(--bs-font-cursive) !important; */
  font-family:  var(--bs-font) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: normal;
}


.ml-2 {
  margin-left: 1em;
}

.ml-3 {
  margin-left: 3em;
}

/* Logo and brand */
.text-brand {
  color: #75aceb;
  font-family: var(--bs-font);
  font-weight: 400;
  font-optical-sizing: auto;
}

.text-brand-sec {
  font-family: var(--bs-font);
  font-weight: 300;
  font-optical-sizing: auto;
}

.name{
  font-weight: 500;
}

.sub {
  color: var(--bs-text-secondary-color);
  font-family: var(--bs-font);
  font-weight: 400;
}


.navbar-nav .nav-link, .navbar-nav .nav-link.show {
  color: var(--bs-text-primary-color) !important;
}

.nav-link:hover {
  color: var(--bs-text-secondary-color) !important;
}

.navbar-nav .nav-link.active, .navbar-nav {
  color: #fff !important;
}

.logo {
  display: flex;
  flex-wrap: inherit;
  font-size: 24px;
  font-style: italic;
  border-top: 2px solid #fff;
  padding-right: 0.3em;
  padding-top: 2%;
  border-radius: 0.25em;
}

/* Body content */
.body-content {
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
  margin-top: 4rem !important;

}

#welcome-msg {
  font-size: 1rem;
  font-family: var(--bs-font);
  white-space: nowrap;
  overflow: hidden;
  border-right: .12em solid #e7db6c; 
  color: #fff;
  animation: typing 10s steps(40, end), blink-caret .75s step-end infinite;
}

/* Typewriter effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Blinking cursor */
@keyframes blink-caret {
  /* from, to{ border-color: transparent; } */
  50% { border-color: #e7db6c; }

}

/* Intro section */
.intro-name-small {
  color: var(--bs-text-secondary-color);
  font-family: var(--bs-font);
  font-weight: 500;
  font-optical-sizing: auto;
}

/* Skills section */
.skills-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-skill, .side-skill {
  border-radius: 100%;
  overflow: hidden; /* Ensures the image stays within the circle */
}

.main-skill {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  background-color: #fff;
}

.main-skill img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the circle without stretching */
}

.side-skill-container {
  display: flex;
  gap: 20px;
}

.side-skill {
  width: 70px;
  height: 70px;
}

.side-skill img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the circle without stretching */
}

.skills-img-container:hover .main-skill {
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

.skills-img-container:hover .side-skill:nth-child(1) {
  animation: moveLeftRight 1s ease-in-out infinite alternate;
}

.skills-img-container:hover .side-skill:nth-child(2) {
  animation: moveDownUp 1s ease-in-out infinite alternate;
}

.skills-img-container:hover .side-skill:nth-child(3) {
  animation: moveRightLeft 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

@keyframes moveLeftRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30px);
  }
}

@keyframes moveDownUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

@keyframes moveRightLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px);
  }
}

.socials > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color-mix(in srgb, #ffff, transparent 90%);
  color: #ffffff !important;
  /* margin: 1.5rem 2px; */
  margin: 1.5rem 0.1rem;
  border-radius: 50%;
  /* text-align: center; */
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.socials a.Gmail:hover {
  color: #D14836 !important; /* Gmail red */
}

.socials a.linkedin:hover {
  color: #0077B5 !important; /* LinkedIn blue */
}

.socials a.github:hover {
  color: #333333 !important; /* GitHub black */
}

.socials a.medium:hover {
  color: #00ab6c !important; /* Medium green */
}

.socials a.skype:hover {
  color: #00AFF0 !important; /* Skype blue */
}

/* About section */
.about-p {
  color: var(--bs-text-primary-color);
  font-size: 0.9rem;
  font-family: var(--bs-font);
  text-align: left;
  line-height: 1.9;
  margin-bottom: 20px;
  white-space: normal;      
  hyphens: auto;              
  overflow-wrap: break-word;  
  word-break: break-word; 
}

.section-heading {
  margin: 10px 0px 40px;
}

.section-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 200px;
  height: 1px;
  margin-left: -6.5em;
  background-color: var(--bs-text-secondary-color);
}

/* Skills badge */

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  gap: 0.5rem;
}

.skills-list > li {
  display: inline-block;
  /* margin-right: 0.5em;  */
}

.skills-badge {
  padding: 0.25em 0.75em;
  border-radius: 9999px;
  background-color: rgba(45, 212, 191, .1);
  color: rgb(231, 219, 108);
  font-size: 13px;
}

/* Resume section */

.resume-position h4 {
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.resume-position small {
  margin-left: 0.35rem;
  text-decoration: none;
  font-family: "Lucida Console", "Courier New", monospace;
}



.resumeLink {
  margin-right: 2em;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  color: #e7db6c;
}

.custom-svg {
  width: 2em; 
  height: 2em; 
}

.custom-svg:hover {
  cursor: pointer;
  animation: pulse 2s infinite;
}

.resume-file {
  display: flex;
  opacity: 1; 
  font-size: small;
  font-family: var(--bs-font-cursive);
  line-height: 1.2em;
}

/* Projects section */

.projects-grid {
  display: flex;
  justify-content: flex-start;
  gap: 23px;
  flex-wrap: wrap;
  margin-top: 1.3em;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.2em;
  max-width: 25em;  /*Set a maximum width to control the card size */
  /* width:300px; */
  flex: 1 1 20em;
  box-shadow: 0 4px 6px rgba(45, 212, 191, .1);
  transition: transform 0.2s ease;
  font-family:  var(--bs-font);

}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h6 {
  font-weight: bold;
}

.project-card p {
  font-size: 0.9em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: var(--bs-font);
  text-align: left;
  line-height: 1.6;
  white-space: normal;      
  hyphens:auto;              
  overflow-wrap: break-word;  
  word-break: break-word; 
} 

/* .project-card a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: small;
  font-family: 'Poppins', sans-serif;
  box-shadow: 2px 3px 5px rgba(231, 219, 108, .3);
  padding: 0.25rem 0.5rem;
  border: 1px solid #e7db6c;
  border-radius: 3px;
  /* transition: background-color 0.2s ease; 
} */

.projects-img {
 width: 100%;
 height: 50%;
}

.project-btn {
  /* margin-left: 16.4em;  */
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  color:#e7db6c;
  /* border: 1.5px solid #e7db6c; */
  border-radius: 4px;
  font-size: 12px;
  text-decoration: none;
  box-shadow: 0 0 8px rgba(231, 219, 108, 0.5);
  cursor: pointer;
  margin-top: auto; /* Keeps the button at the bottom */
  align-self: flex-end; /* Aligns the button to the right */
}

.project-btn:hover {
  box-shadow: 0 0 12px rgba(231, 219, 108, 0.7);
}

.see-more {
  text-decoration: none;
  color: #e7db6c;
  cursor: pointer;
  font-size: small;
  font-family: var(--bs-font);
}


/* Articles */

.article-list {
  list-style-type: none;
  padding: 0;
}

.article-list li {
  margin-bottom: 10px;
}

.article-list li a {
  text-decoration: none;
  color: var(--bs-text-secondary-color);
  font-size: 0.8em;
  font-weight: bold;
  transition: color 0.2s ease;
}

.article-list li a:hover {
  color: #cbe4f4;
}


/* Footer */
.footer {
  background-color: color-mix(in srgb, #002147, transparent 80%);
  color: color-mix(in srgb, #ffffff, transparent 70%);
  padding: 20px 0;
  margin-top: 4em;
  text-align: center;
  font-size: small;
  font-family: var(--bs-font-cursive) !important;
}

.footer p {
  margin: 0;
}


/* Media queries */
@media (max-width: 1200px) {
 
  .ml-3 {
    margin-left: 0;
  }

  .project-card {
    max-width: 100% !important;
  }

  /* .projects-grid {
    grid-template-columns: 1fr 1fr;
  } */

}

@media (max-width: 768px) {
 
  .ml-3, .ml-2 {
    margin-left: 0;
  }

  .project-card {
    max-width: 100% !important;
  }


  /* .projects-grid {
    grid-template-columns: 1fr;
  } */
  
}

@media (max-width: 576px) {
  
  /* .skills-img-container {
    align-items: center;
  } */

  
  /* .main-skill, .side-skill {
    margin: 8px;
  } */

  .project-card {
    max-width: 100% !important;
  }
  .custom-svg {
    width: 2.2em; 
  }

  .body-content {
    margin: 2.5rem 2rem;
  }
}
